body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #E5E5E5;
}
a {
    text-decoration: none;
    color: #464646;
    font-size: 16px;
}
.topo {
    background-color: #FFF;
}
section .interno {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header {
    display: flex;
    align-items: center;
    height: 115px;
}
.search {
    width: 360px;
    height: 30px;
    margin-left: 8px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}
.icon {
    padding-right: 25px;
    background-image: url("assets/Search.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 3%) center;
    margin-right: 10px;
    background-size: 20px;
}
.button-login {
    width: 182px;
    height: 50px;
    background-color: #FFF;
    color: #2A7AE4;
    border: 1px #2A7AE4 solid;
}
section .banner {
    background-image: url(assets/banner-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    color: #fff;
}
.hero {
    width: 85%;
    margin: 0 auto;
    padding-top: 150px;
}
.hero button {
    width: 130px;
    height: 50px;
    margin-top: 15px;
    background-color: #2A7AE4;
    color: #FFF;
    border: 1px #2A7AE4 solid;
}
.hero h3 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 5px;
}
.hero p {
    font-size: 22px;
}

/* Protudos */
.category-title h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #464646;
}
.category ,.category-item {
    margin: 16px auto;
}
section.produto {
    width: 85%;
    margin: 40px auto;
}

div .category-itens {
    display: flex;
    gap: 8px;
}
.box-item {
    width: 175px;
    margin-bottom: 40px;
}
.box-item h3,.box-item p,.box-item a {
    margin-top: 5px;
}
.box-item .produto-price {
    font-weight: bold;
}
/* Todos os produtos */
.All-category h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #464646;
}
.modify {
    position: absolute;
    padding-left: 120px;
}
.produto-id {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}
/* Rodapé */
section.rodape .solucao{
    background-color: #EAF2FD;
    padding: 50px 0;
}
.box-item a {
    color: #2A7AE4;
    font-weight: bold;
}
.rodape-rodape {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
}
ul li {
    margin: 15px 0;
}
.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
textarea {
    resize: none;
}
.formcontato__input, .formcontato__textarea {
    width: 370px;
    margin: 5px 0;
    border-radius: 5px;
    border: none ;
    border-bottom: 1px #C8C8C8 solid;
}
.formcontato__input{
    height: 40px;
}
textarea, input::placeholder {
    font-size: 16px;
    font-family: 'Raleway';
}
.formcontato__botao{
    background-color: #2A7AE4;
    color: #fff;
    border: none;
    width: 150px;
    height: 50px;
}
footer {
    padding: 20px 0;
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

/* Login page*/
.login {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.formlogin-box {
    width: 75%;
    margin: 0 auto;
    text-align: center;

}
.formlogin-box-item {
    width: 423px;
    height: 63px;
    margin: 10px 0;
}
h2.formlogin-box-item{
    width: auto;
    height: auto;
}
input.formlogin-box-item{
    border: none ;
    border-bottom: 1px #C8C8C8 solid;
    border-radius: 5px;
}
button.formlogin-box-item {
    background-color: #2A7AE4;
    color: #fff;
    border: none;
}